body
 {
 color:black;
 margin-left: auto;
    margin-right: auto;
    width: 20em;}



header
{	text-align:right;
    margin-left:23px;
	width:730px;
	
}

hearder,h3,
{margin-left:auto;
}


form,
fieldsheet,
{
	text-align: center;
	background-color:white;
  	 margin-left: auto;
    margin-right: auto;
    width: 20em;
}


footer

 {text-align:center;
 margin-left: auto;
    margin-right: auto;
    width: 20em;

    }

footer,p,
{text-align:center;
}


button
{
    background-color: blue;
}
bt
{
color:black;

}

